/*******MOBILE FIRST*******/
/*******The widths are in a percentage!*******/
html {
	font-size: 16px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3125em;
    padding: 0 30px;
}

header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
header h1 {
	width: 100%;
	padding: .5em;
	text-align: center;
	border-bottom: 0.188em solid #77a466;
}
header h1 span {
	color: #77a466;
}
header nav {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.875em 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	list-style: none;
	line-height: 3em;
	font-size: 0.875em;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

.top-section,
.bottom-section {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: stretch;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	height: auto;
	border-bottom: 0.188em solid #77a466;
	border-top: 0.188em solid #77a466;
}
.main-title {
	height: auto;
}
.main-title h3 {
	text-align: left;
	padding: 0.313em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.563em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 0.063em solid #eee;
}
.section-one h4 {
	padding: 0.625em 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.313em;
	padding: 0;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
}

footer {
	width: 100%;
	border-top: 0.188em solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/*******TABLET PORTRAIT*******/
/*The widths are in a percentage!*/
@media (min-width: 768px) {
	header h1 {
		margin: 0;
		padding: 1.25em 0;
	}
	header nav ul li {
		font-size: 1.25em;
	}

	.address {
		line-height: 1.313em;
	}
}
/*******TABLET LANDSCAPE*******/
@media (min-width: 800px) {
	.bottom-section {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: row;
	}
	.section-one,
	.section-two,
	.section-three {
		border-top: 0.063em solid #eee;
	}
	.section-two {
		border-left: 0.063em solid #eee;
		border-right: 0.063em solid #eee;
	}

	.section-two,
	.section-three {
		padding: 5px 20px;
	}
}
/*******DESKTOP*******/
/*******The widths are in a percentage!*******/
@media (min-width: 1200px) {
	header {
		height: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row;
	}
	header h1 {
		margin: 0;
		padding: 2.375em 0;
		text-align: left;
	}
	header nav ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-flow: row;
	}
	header nav ul li {
		text-align: right;
		margin: auto 0.625em;
	}

	.bottom-section {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: row;
	}
	.section-one,
	.section-two,
	.section-three {
		border-top: 0.063em solid #eee;
	}
	.section-two {
		border-left: 0.063em solid #eee;
		border-right: 0.063em solid #eee;
	}

	.section-two,
	.section-three {
		padding: 5px 20px;
	}

	footer {
		height: 50px;
}